<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Gansho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<section>
    <article>
        {% block content %}
        {% endblock %}
    </article>
</section>
<footer><p class="right"></p></footer>
</body>
</html>